@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAF5;
  color: #333333;
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  border-top: 4px solid #628141;
}